body{
	background-color: #404040;
	color: #ffffff;	
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:300;
}

h1{
	text-align: center;
	font-family: 'Poiret One', cursive;
}

#urlBox{
	margin-top: -6px;
	margin-bottom: 10px;
}

#imgUrl{
	width: 220px;
}
#imgInp{
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 40px;
}

#reset{
  display: inline-block;
  background-color: #ffffff;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 10px;
  width: 60px;
  cursor: pointer;
  margin-top: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:400;
}

.adjustment{
	display: inline;
}

.adjustment label{
	width: 400px;
	font-size: 12px;
}

#imageContainer img{
	width: 485px;
	padding:1px;
   border:1px solid #021a40;
}


#insidefilter{
  position: fixed;
  right: 0px;
  width: 220px; 
  display: block; 
  float: right;
  margin-bottom: 5px; 
  background-color: #333333;
  height: 100%;
  overflow: scroll;
  top: 0px;
}

.mainview{
	float: left;
	display: inline;
	width: 720px;
	text-align: center;
}
.filters{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
}

.filters img{
	width: 150px;
	height: 150px;
	/*-webkit-filter: drop-shadow(3px 3px 3px white); /* Chrome, Safari, Opera */
    /*filter: drop-shadow(3px 3px 3px white);*/
    border-radius:5px;

}

.filters button{
  display: inline-block;
  border-radius: 2px;
  background-color: #000000;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  padding: 10px;
  width: 90px;
  height: 10px;
  margin-top: 3px;
  transition: all 0.5s;
  cursor: pointer;
  padding-top:0;
  padding-bottom: 15px; 
}

.filters button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.filters button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.filters button:hover span {
  padding-right: 25px;
}

.filters button:hover span:after {
  opacity: 1;
  right: 0;
}

.filters button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    width: 100px;
    height:4px;
}

input[type=range]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: white;
    opacity: 0.8;
    width: 8px;
    height: 15px;
}


